/*Estilos da Página index.html*/
.banner {
    background-color: white;
    padding: 20px; 
    text-align: center; 
}
.banner-content {
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.logo img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover;
}
ul {
    list-style-type: none; 
    padding: 0; 
    text-align: center; 
}
ul li {
    display: inline;
    margin-right: 10px; 
}
.Center {
    text-align: center; 
}
.Center{
    text-align: center;
}

.text-1{
    font-size: 30px;
    text-align: justify;
}

.social-icons li img {
    width: 50px; 
    border-radius: 60%; 
}

/*Estlos da Pagina carpadio.html*/

.text{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.Cardapio{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.intro{
    font-size: 20px;
}

.sabores{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

b{
    font-size: 20px;
}
.footer-line {
    border-top: 1px solid #555; /* Estilo da linha divisória */
    margin: 10px auto; /* Espaçamento ao redor da linha */
    width: 50%
}